<h1> Signin </h1> <br> <br><br> <br><br> <br>
<div class="session">
    <%= form_with url: sessions_path do |form| %>
        <%= form.label :name %> <br><br>
        <%= form.text_field :name %> <br><br>
        <%= form.submit :SignIn %>
    <% end %>
</div>