<h1> User external hours </h1>
<div class="externalhrs">
    <ul>
        <% @hours.each do |hour|%>
            <li> 
            <%= hour.hours %>hrs | Created At: 
            <%= hour.created_at %>
            </li>
        <% end %>
    </ul>
</div>