<h1> All Groups </h1>

<% @groups.each do |group| %>
    <%= link_to group.name, group_path(group) %> &nbsp |
    <%= group.created_at %> &nbsp |
<% end %>

<p>
<%= link_to '<button type="button">New Group</button>'.html_safe, new_group_path %>
</p>