// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session {
    font-size: 30px;
    text-align: center;
}

input {
    font-size: 40px;
}