// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    color: white;
    a:link, a:visited, a:active {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: rgb(243, 240, 240);
    }

    .circle {
        border-color: ivory;
        border-style: solid;
        border-width: 1px;
        border-radius: 23px;
        padding: 5px;
        width: 15px;
    }

    .motherdiv2 {
        display: flex;
    }

    .circle {
        margin-top: 15px;
    }

    .mother-lists2 {
        margin-left: 20px;
    }

    .list-content {
        border: solid;
        align-items: left;
    }
}