// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    color: white;
    a:link, a:visited, a:active {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: rgb(214, 209, 209);
    }

    .circle {
        border-color: ivory;
        border-style: solid;
        border-width: 2px;
        border-radius: 45px;
        padding: 30px;
        width: 25px;
        margin-top: 15px;
    }

    .awesome-icon {
        font-size: 30px;
    }

    .motherdiv2 .motherdiv3 {
        display: flex;
    }

    hr {
        max-width: 80%;
    }

    h4 {
        font-size: 40px;
        margin-top: -80px;
        margin-left: 120px;
        font-weight: normal;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    // .circle {
    //     margin-top: 15px;
    // }

    // .mother-lists2 {
    //     margin-left: 50px;
    //     margin-top: -60;
    //     border: solid;
    // }

    .list-content {

        align-items: left;
    }

    .awesome-icon {
        margin-left: 1px;
    }
}